body{
    background-color: #000;
    color: #FFF;
    display: grid;
    grid-template-columns: auto 800px auto;
}

#maintitle{
    grid-row-start:1;
    grid-column-start: 2;
    text-align: center;
}

#gamewindow{
    width: 800px;
    height: 608;
    background-color: blue;
    grid-row-start:2;
    grid-column-start: 2;
}