body{
    background-color: #000;
    color: #FFF;
    display: grid;
    grid-template-columns: auto 800px auto;
}

#maintitle{
    grid-row-start:1;
    grid-column-start: 2;
    text-align: center;
}

#gamewindow{
    width: 800px;
    height: 608px;
    background-color: blue;
    grid-row-start:2;
    grid-column-start: 2;
    position: relative;
}

#mainCharacter{
    left: 310px;
    top: 250px;
}

#brokencrates{
    width: 96px;
    height: 128px;
    left: 354px;
    top: 318px;
}

#barrel1{
    width: 31px;
    height: 33px;
    left: 20px;
    top: 20px;
}

#barrel2{
    width: 26px;
    height: 30px;
    left: 20px;
    top: 100px;
}

.gameObject{
    position: absolute;
    transition: all 1s ease-in-out;
     background-color: white;
}

.foreground{
    z-index:1000;
}

.character{
    z-index:100;
}

.background{
    z-index:0;
}