body{
    background-color: #000;
    color: #FFF;
    display: grid;
    grid-template-columns: auto 800px auto;
}

#maintitle{
    grid-row-start:1;
    grid-column-start: 2;
    text-align: center;
}

#gamewindow{
    width: 800px;
    height: 608;
    background-color: blue;
    grid-row-start:2;
    grid-column-start: 2;
    position: relative;
}

#mainCharacter{
    left: 20px;
    top: 20px;
}

.gameObject{
    position: absolute;
    background-color: white;
}

.foreground{
    z-index:1000;
}

.character{
    z-index:100;
}

.background{
    z-index:0;
}